body{
	/*background-image: conic-gradient(red, yellow, green, blue, black);
	background-image: conic-gradient(from 90deg, red, yellow, green);*/
	background-image: linear-gradient(to right,skyblue,violet);
}

#main{
	margin: auto;
	margin-top: 5%;
	width: %;

	background-image: linear-gradient( #000046, #000076, blue, white, white, white, white, white, white, white, white, white);
	border-radius: 5px;
	display: grid;
}

@media screen and (max-width: 600px){
	#main{
	     width: 100%;
	     margin-top: 15%;
	}
}

.logo{
	border-radius: 50%;
	width: 100px;
	height: 100px;
	background-color: white;
	margin: auto;
	margin-top: -50px;
}
img{
	width: 98%;
	height: 98%;
}
.welcome{
	margin: auto;
	padding: 30px 0px 20px 0px;
	text-align: center;
	font-size: xx-large;
	text-transform: capitalize;
	color: magenta;
	font-family: sans-serif;
}
.log{
	font-size: x-large;
	padding-left: 3.2em;
	text-transform: capitalize;
	font-weight: bolder;
	font-family: calibri;
	color: maroon;
}
.container{
	margin: auto;
	margin-top: 15px;
	display: grid;
	width: 80%;
	background-color: ;
}
fieldset{
	margin-bottom: 8px;
	border-color: blue;
}

legend{
	text-transform: capitalize;
	font-weight: bolder;
}
input{
	border-radius: 3px;
	border: hidden;
	width: 80%;
	border: 2px solid blue;
	font-size: small;
	padding: 8px 1px 9px 35px;
}
input.username_inp{
	background-image: url("user.png");
	background-size: 32px;
    background-repeat: no-repeat;
}
input.password_inp{
	background-image: url("lock-icon.png");
	background-size: 32px;
    background-repeat: no-repeat;
}
.forgot_pass{
	margin-bottom: 30px;
	font-weight: bolder;
}
.forgot_password, .sign_up{
	text-decoration: none;
	color: blue;
}
.loginn{
	margin: auto;
	width: 100%;
	background-color: green;
}
.login_btn{
	margin: auto;
	width: 90%;
	text-align: center;
	background-color: blue;
	color: white;
	padding: 8px 0px 8px 0px;
	border-radius: 15px;
	margin-bottom: 15px;
	text-transform: capitalize;
	cursor: pointer;
	display: flex;
	justify-content: center;
}
.signwt_one{
	text-align: center;
	text-transform: capitalize;
	font-family: calibri;
	margin-bottom: 10px;
	font-weight: bolder;
}
.button_one{
	background-color: darkblue;
}
.button_two{
	background-color: red;
}
.button_three{
	background-color: #00acee;
}
.button_one, .button_two, .button_three{
	margin-bottom: 10px;
	font-family: ;
	border-radius: 5px;
	height: 2em;
	font-size: large;
	color: white;
	cursor: pointer;
	width: 100%;
}
i{
	float: left;
	background-color: ;
}
.sign_type{
	display: grid;
}
.signwt_two{
	text-align: center;
	margin-bottom: 15px;
	margin-top: 15px;
	font-family: calibri;
	font-weight: bolder;
}
